body {
  margin: 0;
  padding: 0;
  background-color: aliceblue;
  display: flex;
  justify-content: center;
  font-family: 'Helvetica Neue', 'Arial', sans-serif;
}

.App {
  background-color: white;
  box-shadow: rgba(0,0,0, 0.05) 0 6px 24px, rgba(0,0,0, 0.08) 0 0 0 1px;
  border-radius: 10px;
  padding: 10px;
  width: 800px;
  margin-top: 50px;
}

.button-container {
  display: flex;
  justify-content: flex-end;
  padding-bottom: 5px;
  align-items: center;
}

.button-container button {
  margin: 0 5px;
  padding: 5px 10px;
  border-radius: 12px;
  background-color: transparent;
  font-size: 10px;
  border: 1.5px solid;
  cursor: pointer;
}

.bi bi-check2-circle {
  margine-left: 5px;
}


.edit {
  border: 1.5px solid rgb(141, 181, 145);
  color: rgb(141, 181, 145);
  text-transform: uppercase;
}

.edit:hover {
  background-color: rgb(182, 223, 186);
  cursor: pointer;
}

.edit:active {
  border: 1.5px solid rgb(141, 181, 145);
  color: rgb(255, 255, 255);
  background-color: rgb(141, 181, 145);
}

.delete {
  border: 1.5px solid rgb(255, 175, 163);
  color: rgb(255, 175, 163);
  text-transform: uppercase;
}

.delete:hover {
  background-color: rgb(255, 201, 193);
  cursor: pointer;
}

.delete:active {
  border: 1.5px solid rgb(255, 175, 163);
  background-color: rgb(255, 175, 163);
  color: rgb(255, 255, 255);
}

.create {
  border: 1.5px solid rgb(105, 115, 148);
  color: rgb(105, 115, 148);
  text-transform: uppercase;
}

.create:hover {
  background-color: rgb(131, 138, 172);
  cursor: pointer;
}

.create:active {
  background-color: rgb(108, 115, 148);
  color: rgb(255, 255, 255);
}

.signout {
  border: 1.5 solid rgb(255, 175, 163);
  background-color: rgb(255, 175, 163)!important;
  color: rgb(234, 234, 234);
}

.signout:hover {
  background-color: rgb(175, 94, 94);
  border: 1.5px solid rgb(175, 94, 94)!important;
  cursor: pointer;
}

.signout:active {
  border: 1.5px solid rgb(175, 81, 81)!important;
  background-color: rgb(175, 81, 81)!important;
  color: rgb(255, 255, 255);
}

/* List Header */
.list-header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  border-bottom: rgba(0,0,0,0.05) 1px solid;
}

.message-container {
  font-family: 'Helvetica Neue', 'Arial', sans-serif;
  width: 100%;
  margin: 10px 0;
  border-radius: 10px;
  box-shadow: rgba(0,0,0,0.08) 0 0 0 1px;
  overflow-wrap: break-word;

  /* display: flex;
  justify-content: flex-end; */
 }

.user-name {
  color: #6b51d8;
  font-size: 20px;
}

li {
  list-style: none;
}

.date {
  font-size: 8px;
  margin-right: 5px;
  display: flex;
  justify-content: flex-end;
}

/* Modal */

.overlay {
  position: absolute;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0,0,0,0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal {
  width: 500px;
  background-color: rgb(255, 255, 255);
  padding: 40px;
  border-radius: 10px;
  box-shadow: rgba(0,0,0,0.05) 0 6px 24px 0, rgba(0,0,0,0.08) 0 0 0 1px;
}

.form-title-container {
  display: flex;
  justify-content: space-between;
}

.form-title-container button {
  border: none!important;
  background-color: transparent;
  cursor: pointer;
}

.message-input {
  height: 200px;
  width: 465px;
  margin-bottom: 10px;
  padding: 12px 16px;
  border-radius: 12px;
  border: 1.5px solid rgb(230, 232, 236);
}

.form-title-container button:active {
  color: rgb(255, 50, 50)
}

.modal form {
  display: flex;
  flex-direction: column;
}

.modal label {
  font-size: 13px;
}
/* Auth modal */
.auth-container {
  display: flex;
  justify-content: center;
  margin: 50px;
}

.auth-container-box {
  width: 500px;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: rgba(0,0,0,0.05) 0 6px 24px. rgba(0,0,0,0.08) 0 0 0 1px;
}

.auth-container-box form {
  display: flex;
  flex-direction: column;
  height: 300px;
  padding: 20px;
}

.auth-input {
  margin-bottom: 10px;
  padding: 12px 16px;
  border-radius: 12px;
  border: 1.5px solid rgb(230, 232, 236);
  height: 25px;
}

button {
  margin: 0 5px;
  padding: 5px 10px;
  border-radius: 12px;
  background-color: transparent;
  font-size: 10px;
  border: 1.5px solid;
  cursor: pointer;
}

.auth-submit {
  border-radius: 10px;
}
